.splide.teamslider {
  padding-top: 80px;
  margin-top: -80px;
  .splide__track{
   
  }
  .splide__slide {
    position: relative;
    padding:0;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
  .splide__arrows{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    gap:10px;
    button{
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 1px solid #000;
        background: transparent;
        opacity: 1;
        color: #000;
        position: static;
        @media screen and (max-width:767px){
           width: 30px;
          height: 30px;
        }
        span{font-size: 11px;}
        &:hover{
            color: var(--primary);
            background: #fff;
        }
    }
  }
}

.splide{
  visibility: visible !important;

}
/* Customize the main slider container */
#main-slider {
  width: 100%;
  margin-bottom: 20px;
}

/* Customize the main slider slides */
#main-slider .splide__slide img {
  width: 100%;
  height: auto;
}

/* Customize the thumbnail slider container */
#thumbnail-slider {
  width: 100%;
}

/* Customize the thumbnail slider slides */
#thumbnail-slider .splide__slide {
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

#thumbnail-slider .splide__slide img {
  width: 100%;
  height: auto;
  border: 2px solid transparent;
}

/* Customize the active thumbnail */
#thumbnail-slider .splide__slide.is-active img {
  border-color: #007bff; /* Change to your desired active thumbnail border color */
}

.splide__slide img {
  touch-action: pan-y; /* Allow vertical scrolling */
}
.splide__slide__row{margin-bottom: 0 !important;}